In [1]:
pip install geopy

Requirement already satisfied: geopy in c:\users\kapuj\.conda\envs\batch363\lib\site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\kapuj\.conda\envs\batch363\lib\site-packages (from geopy) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
from IPython.core.display import display, HTML
import time

C:\Users\kapuj\AppData\Local\Temp\ipykernel_19412\30944406.py:7: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython.display
  from IPython.core.display import display, HTML

In [3]:
df = pd.read_csv(r"C:\Users\kapuj\Downloads\zomato_data.csv")

In [4]:
df1 = pd.read_csv(r"C:\Users\kapuj\Downloads\Geographical Coordinates.csv")

In [5]:
df

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity
0,Yes,Yes,4.1/5,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,Yes,No,4.1/5,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet,Banashankari
2,Yes,No,3.8/5,918,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet,Banashankari
3,No,No,3.7/5,88,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet,Banashankari
4,No,No,3.8/5,166,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet,Banashankari
...,...,...,...,...,...,...,...,...,...,...
51712,No,No,3.6 /5,27,Bar,NaN,Continental,"1,500",Pubs and bars,Whitefield
51713,No,No,NaN,0,Bar,NaN,Finger Food,600,Pubs and bars,Whitefield
51714,No,No,NaN,0,Bar,NaN,Finger Food,"2,000",Pubs and bars,Whitefield
51715,No,Yes,4.3 /5,236,Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500",Pubs and bars,Whitefield
51716,No,No,3.4 /5,13,"Bar, Casual Dining",NaN,"Finger Food, North Indian, Continental","1,500",Pubs and bars,Whitefield

In [6]:
df1

            listed_incity   Latitude  Longitude
0            Banashankari  12.939333  77.553982
1       Bannerghatta Road  12.952660  77.605048
2            Basavanagudi  12.941726  77.575502
3               Bellandur  12.925352  77.675941
4            Brigade Road  12.967358  77.606435
5             Brookefield  12.963814  77.722437
6                     BTM  12.916360  77.604733
7           Church Street  12.974914  77.605247
8         Electronic City  12.848760  77.648253
9             Frazer Town  12.998683  77.615525
10                    HSR  12.900563  77.649475
11            Indiranagar  12.996298  77.545278
12              Jayanagar  12.939904  77.582638
13               JP Nagar  12.909694  77.586607
14           Kalyan Nagar  13.022142  77.640337
15           Kammanahalli  13.014854  77.638203
16  Koramangala 4th Block  12.932778  77.629405
17  Koramangala 5th Block  12.934843  77.618977
18  Koramangala 6th Block  12.939025  77.623848
19  Koramangala 7th Block  12.936485  77.613478
20           Lavelle Road  12.968340  77.596507
21           Malleshwaram  13.002735  77.570325
22           Marathahalli  12.955257  77.698416
23                MG Road  12.975526  77.606790
24           New BEL Road  13.039186  77.564284
25       Old Airport Road  12.960632  77.642500

In [7]:
df['rate']=df['rate'].replace("-",np.nan)
df['rate']=df['rate'].replace("NEW",np.nan)

In [8]:
df['rate'].unique()

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', nan, '2.9/5', '3.5/5', '2.6/5', '3.8 /5', '3.4/5',
       '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5', '2.3/5',
       '3.4 /5', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5',
       '4.1 /5', '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5', '2.8 /5',
       '3.5 /5', '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5', '4.5 /5',
       '4.3 /5', '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5', '4.6 /5',
       '4.9 /5', '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5',
       '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   online_order               51717 non-null  object
 1   book_table                 51717 non-null  object
 2   rate                       41665 non-null  object
 3   votes                      51717 non-null  int64
 4   rest_type                  51490 non-null  object
 5   dish_liked                 23639 non-null  object
 6   cuisines                   51672 non-null  object
 7   approx_costfor_two_people  51371 non-null  object
 8   listed_intype              51717 non-null  object
 9   listed_incity              51717 non-null  object
dtypes: int64(1), object(9)
memory usage: 3.9+ MB

In [10]:
df['rate'] = df['rate'].str.replace("/5","")

In [11]:
df["rate"].astype('float')

0        4.1
1        4.1
2        3.8
3        3.7
4        3.8
        ...
51712    3.6
51713    NaN
51714    NaN
51715    4.3
51716    3.4
Name: rate, Length: 51717, dtype: float64

In [12]:
df['rate']=pd.to_numeric(df['rate'])

In [13]:
mis = df['rate'].median()

In [14]:
df['rate']=df['rate'].fillna(mis)

In [15]:
df['rate'].unique()

array([4.1, 3.8, 3.7, 3.6, 4.6, 4. , 4.2, 3.9, 3.1, 3. , 3.2, 3.3, 2.8,
       4.4, 4.3, 2.9, 3.5, 2.6, 3.4, 4.5, 2.5, 2.7, 4.7, 2.4, 2.2, 2.3,
       4.8, 4.9, 2.1, 2. , 1.8])

In [16]:
df

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity
0,Yes,Yes,4.1,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,Yes,No,4.1,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet,Banashankari
2,Yes,No,3.8,918,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet,Banashankari
3,No,No,3.7,88,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet,Banashankari
4,No,No,3.8,166,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet,Banashankari
...,...,...,...,...,...,...,...,...,...,...
51712,No,No,3.6,27,Bar,NaN,Continental,"1,500",Pubs and bars,Whitefield
51713,No,No,3.7,0,Bar,NaN,Finger Food,600,Pubs and bars,Whitefield
51714,No,No,3.7,0,Bar,NaN,Finger Food,"2,000",Pubs and bars,Whitefield
51715,No,Yes,4.3,236,Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500",Pubs and bars,Whitefield
51716,No,No,3.4,13,"Bar, Casual Dining",NaN,"Finger Food, North Indian, Continental","1,500",Pubs and bars,Whitefield

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   online_order               51717 non-null  object
 1   book_table                 51717 non-null  object
 2   rate                       51717 non-null  float64
 3   votes                      51717 non-null  int64
 4   rest_type                  51490 non-null  object
 5   dish_liked                 23639 non-null  object
 6   cuisines                   51672 non-null  object
 7   approx_costfor_two_people  51371 non-null  object
 8   listed_intype              51717 non-null  object
 9   listed_incity              51717 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 3.9+ MB

In [18]:
df['approx_costfor_two_people']=df['approx_costfor_two_people'].str.replace(",","")

In [19]:
df['approx_costfor_two_people'] = pd.to_numeric(df['approx_costfor_two_people'])

In [20]:
mis2 = df['approx_costfor_two_people'].median()

In [21]:
df['approx_costfor_two_people'].fillna(mis2,inplace=True)

C:\Users\kapuj\AppData\Local\Temp\ipykernel_19412\3168955693.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['approx_costfor_two_people'].fillna(mis2,inplace=True)

In [22]:
df['dish_liked'].fillna("Not Available",inplace=True)

C:\Users\kapuj\AppData\Local\Temp\ipykernel_19412\2072172033.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['dish_liked'].fillna("Not Available",inplace=True)

In [23]:
df['cuisines'].fillna("Other",inplace=True)

C:\Users\kapuj\AppData\Local\Temp\ipykernel_19412\3534136726.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['cuisines'].fillna("Other",inplace=True)

In [24]:
df["rest_type"].fillna("Unknown",inplace=True)

C:\Users\kapuj\AppData\Local\Temp\ipykernel_19412\3911300494.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["rest_type"].fillna("Unknown",inplace=True)

In [25]:
mvote = df["votes"].median()

In [26]:
df["votes"].fillna(mvote,inplace=True)

C:\Users\kapuj\AppData\Local\Temp\ipykernel_19412\2979135849.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["votes"].fillna(mvote,inplace=True)

In [27]:
df["online_order"].replace("Yes",1,inplace=True)

C:\Users\kapuj\AppData\Local\Temp\ipykernel_19412\2821342463.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["online_order"].replace("Yes",1,inplace=True)

In [28]:
df["online_order"].replace("No",0,inplace=True)

C:\Users\kapuj\AppData\Local\Temp\ipykernel_19412\2765111905.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["online_order"].replace("No",0,inplace=True)
C:\Users\kapuj\AppData\Local\Temp\ipykernel_19412\2765111905.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["online_order"].replace("No",0,inplace=True)

In [29]:
df["book_table"].replace("Yes",1,inplace=True)

C:\Users\kapuj\AppData\Local\Temp\ipykernel_19412\3197978913.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["book_table"].replace("Yes",1,inplace=True)

In [30]:
df["book_table"].replace("No",0,inplace=True)

C:\Users\kapuj\AppData\Local\Temp\ipykernel_19412\403256838.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["book_table"].replace("No",0,inplace=True)
C:\Users\kapuj\AppData\Local\Temp\ipykernel_19412\403256838.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["book_table"].replace("No",0,inplace=True)

In [31]:
rate â†’ float


votes â†’ integer


approx_costfor_two_people â†’ integer

SyntaxError: invalid character 'â†’' (U+2192) (2630211579.py, line 1)

In [ ]:
df['rate'].astype("float")

In [ ]:
df['votes'].astype("int")

In [ ]:
df['approx_costfor_two_people'].astype("int")

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df2 = pd.merge(df,df1,on="listed_incity",how="left")

In [ ]:
df2

In [ ]:
df2 = df2.dropna(subset=["Latitude", "Longitude"])

In [ ]:
pip install folium

In [ ]:
import folium
from folium.plugins import HeatMap

# Geospatial Visualization Task

In [ ]:
bangalore_map = folium.Map(location=[12.9716, 77.5946], zoom_start=12)

restaurant_locations = df2[['Latitude', 'Longitude']].values.tolist()

HeatMap(restaurant_locations).add_to(bangalore_map)

bangalore_map.save("restaurant_density_map.html")

In [ ]:
italian_df = df2[df2['cuisines'].str.contains("Italian", case=False, na=False)]

italian_map = folium.Map(location=[12.9716, 77.5946], zoom_start=12)

for _, row in italian_df.iterrows():
    folium.Marker(
        location=[row['Latitude'], row['Longitude']],
        popup=row['rate'],
        icon=folium.Icon(color="red")
    ).add_to(italian_map)

italian_map.save("italian_restaurants_map.html")